@{
    ViewData["Title"] = "Bucket List";
}

<div class="text-center">
    <h1 class="display-4">User Manager</h1>
    <table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            @if (!user.IsAdminApproved) {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Role</td>
                    <td>
                        <form asp-action="Approve">
                            <a asp-action="Approve" asp-route-id="@user.Id">Approve</a>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>