@{
    ViewData["Title"] = "Bucket List";
}

<div class="text-center">
    <h1 class="display-4">Report</h1>
    <table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
</div>