html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
  width: 100%;
  height: 100%;
  margin: 0 0 60px;
}

.home-transaction-images {
  width: 40%;
}

.banner-icon {
  width: 10%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; 
  line-height: 60px;
  background-color: #f8f9fa;
}

.secondary-color {
  color: #565b61;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-secondary {
    background-color: #78c2ad !important;
    border-color: #78c2ad !important;
}

.btn:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-success:hover,
.btn-danger:hover,
.btn-warning:hover,
.btn-info:hover,
.btn-light:hover,
.btn-dark:hover,
.btn-link:hover {
    background-color: #689e8f !important;
    border-color: #689e8f !important;
    color: #fff !important;
}

.text-dark {
  color: #343a40 !important;
}

.table-minty-header {
  background-color: #78c2ad;
  color: #ffffff;
  border-bottom: 2px solid #689e8f;
}

.table-minty-header th {
  padding: 12px; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  text-align: center; 
}

.table-minty-header-rounded {
  background-color: #78c2ad;
  color: #ffffff;
  border-bottom: 2px solid #689e8f;
  border-radius: 10px 10px 0 0; 
}

.table-minty-header-gradient {
  background: linear-gradient(45deg, #78c2ad, #5ca68d); 
  color: #ffffff;
  border-bottom: 2px solid #4d8877; 
}


.nav-link {
  font-size: 1rem;

}

.nav-link:hover {
  color: #5ca68d !important; 
}

.btn-outline-success {
  border-color: #78c2ad;
  color: #78c2ad;
}

.btn-outline-success:hover {
  background-color: #78c2ad; 
  color: #fff; 
}

.btn-outline-primary {
  border-color: #6b92b9;
  color: #6b92b9;
}

.btn-outline-primary:hover {
  background-color: #6b92b9;
  color: #fff; 
}

.btn-outline-danger {
  border-color: #ff6b6b; 
  color: #ff6b6b;
}

.btn-outline-danger:hover {
  background-color: #ff6b6b; 
  color: #fff;
}